
<div class="container-first-main-content">
    <!-- first-image -->
    <div class="content-first-image"></div>
    <!-- second image -->
    <div class="content-second-image"></div>
</div>
<div class="container-position-element">
<div class="container-second-main-content">
    <!-- first-image -->
    <div class="content-third-content">
        <p class="third-content-title">video: conheça o museu</p>
        <div class="content-movie">
            <iframe width="340" height="200" src="https://www.youtube.com/embed/RGUYb-hivrc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <!-- second image -->
    <div class="container-fourth-content">
        <p class="fourth-content-title">Mapa: encontre o museu</p>
        <div class="content-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.2064457524257!2d-43.22910918984835!3d-22.90575503774626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997e58a085b7af%3A0x4d11e9a933d38ce3!2sMuseu%20Nacional%20-%20UFRJ!5e0!3m2!1spt-BR!2sbr!4v1684773581059!5m2!1spt-BR!2sbr" width="340" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- third content -->
    <div class="container-fifth-content">
        <p class="fifth-content-title">Exposições</p>
        <div class="content-exposition">
           <ul class="list-exposition">
            <li><p>O assustadores insetos</p></li>
            <li><p>O cranio de luiza, a mulher mais antiga do Brasil</p></li>
            <li><p>Preguiça gigante  e tigre-dentes-de-sabre</p></li>
            <li><p>Plantas do Brasil Central</p></li>
            <li><p>Teresa Cristina: A imperatriz Arqueóloga</p></li>
            <li><p class="dino">Arte com Dinoussauros - Paleoarte</p></li>
            <li><p>Veja todos (65)</p></li>
           </ul>
        </div>
    </div>
    <!-- forth content -->
    <div class="container-sixth-content">
        <p class="sixth-content-title">200 anos de história</p>
        <div class="content-exposition">
            <p class="content">
                Numa ponta que avançava sobre o mar, posteriormente conhecida como ponta do Calabouço, entre as praias de Piaçaba e Santa Luzia, no centro histórico do Rio de Janeiro, os portugueses construíram em 1603 a fortaleza de Santiago, origem do conjunto arquitetônico que hoje abriga o Museu Histórico Nacional.
            </p>
            <p class="saiba-mais">Leia mais</p>
        </div>
    </div>
   
    
</div>


<div class="container-third-main-content">
    <div class="container-data">
        <p class="title-data">Faça uma visita</p>
        <p class="content-data">Data <input type="date"> Qtd pessoas <input type="number" min="1" value="1" class="people"></p>
        <button class="btn">Verificar Disponibilidade</button>
    </div>
    <div class="container-galeria">
        <p class="title-galeria">Galeria de Fotos</p>
        <div class="border-first-image">
            <div class="galeria-first-image"></div>
        </div>
        <div class="border-second-image">
            <div class="galeria-second-image"></div>
        </div>
        <div class="border-third-image">
            <div class="galeria-third-image"></div>
        </div>
        <div class="border-fourth-image">
            <div class="galeria-fourth-image"></div>
        </div>
    </div>
</div>
</div>

